<div class="back">
    <div class="back-color" [ngStyle]="{ 'background-color': backgroundColor }"></div>
</div>

<div class="front">
    <section class="album-cover">
        <img [src]="albumCoverImg" alt="Capa do Livro">
    </section>
    
    <section *ngIf="book && page" class="player">
        <button mat-fab *ngIf="isPaused" (click)="onPlay()">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-fab *ngIf="!isPaused" (click)="onPause()">
            <mat-icon>pause</mat-icon>
        </button>
    </section>
</div>