.back {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.back-color {
    height: 60vh;
    width: 100%;
}

.front {
    position: fixed;
    top: 20px;
    width: 100%;
}

.album-cover {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.album-cover > img {
    width: 65%;
}

.page {
    margin-top: 16px;
    text-align: center;
}

.page > h2 {
    margin-bottom: 0;
}

.player {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 16px;
}

.player > audio {
    width: 100%;
}

button {
    background-color: white !important;
    height: 40%;
}

mat-icon {
    color: black !important
}