.back {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.back-color {
    height: 60vh;
    width: 100%;
}

.front {
    position: fixed;
    top: 20px;
    width: 100%;
}

.album-cover {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.album-cover > img {
    width: 80%;
}

.player {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 64px;
}

.player > audio {
    width: 100%;
}

button {
    background-color: white !important;
    height: 100px;
    width: 100px;
}

mat-icon {
    color: black !important
}